body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* app */
.app{
  margin-top: 50px;
  text-align: center;
}
.search{
  padding: 10px;
  font-size: 20px;
}

/*people*/
.people{
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}

/*person*/
.person{
  display: flex;
  justify-content:space-around;
  border-bottom: 3px dashed rgb(65, 52, 52);
}
@media only screen and (max-width: 500px) {
  .person{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed rgb(65, 52, 52);
  }
  
}