body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* app */
.app{
  margin-top: 50px;
  text-align: center;
}
.search{
  padding: 10px;
  font-size: 20px;
}

.people{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.loading{
  text-align: center;
}

/*table*/
th{
  background-color: bisque;
}
tr{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: beige;
}
th, td{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.non_table{
  display: none;
}

/*dugme*/
tr:nth-last-child(){
  margin-top: 10px;
}
.button_more{
  background-color: rgb(230, 228, 221);
  cursor: pointer;
}
.more{
  border: none;
  background-color: rgb(230, 228, 221);
  color: rgb(80, 80, 80);
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  th, td{
    padding: 0;
    border-radius: 0px;
    font-size: 14px;
  }
  table{
    border-collapse: collapse;
  }
  
}
