.more_view {
  background-color: rgb(7, 119, 20);
  color: rgb(242, 241, 241);
  font-weight: 300;
  cursor: pointer;
  width: 50%;
  height: 30px;
}
.less_view {
  background-color: rgb(116, 11, 34);
  color: rgb(242, 241, 241);
  font-weight: 300;
  cursor: pointer;
  width: 50%;
  height: 30px;
}

@media only screen and (max-width: 500px) {
  .more_view,
  .less_view {
    height: 20px;
    font-size: 14px;
  }
}
