.people {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*table*/
th {
  background-color: bisque;
}
tr {
  background-color: beige;
}
th,
td {
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
}
.non_view {
  display: none;
}
.no_matches {
  border: 0;
  background-color: rgb(256, 256, 256);
  font-size: 20px;
}

.buttons {
  background-color: rgb(184, 184, 183);
}

@media only screen and (max-width: 500px) {
  th,
  td {
    padding: 0;
    border-radius: 0px;
    font-size: 14px;
  }
  table {
    border-collapse: collapse;
  }
}
